<main>
	<h1>Cadastro de Evento:</h1>

	<form action='/eventos/novo' method='post'>
		<div>
			<label for='nomeEvento'>Nome do Evento: </label>
			<input type='text' id='nomeEvento' name='nomeEvento' />
		</div>
		<div>
			<label for='dataEvento'>Data do Evento: </label>
			<input type='date' id='dataEvento' name='dataEvento' />
		</div>
		<div>
			<label for='horaEvento'>Hora do Evento: </label>
			<input type='time' id='horaEvento' name='horaEvento' />
		</div>
		<button type='submit'>Cadastrar Evento</button>
	</form>
</main>