* {
	color: white;
}

body {
	color: white;
}

.tabelaEventos {
	color: white;
	border-collapse: collapse;
	width: 100%;
	box-shadow: -9px 10px 41px 1px rgba(196, 166, 101, 0.71);
}

.tabelaEventos th,
.tabelaEventos td {
	border: 1px solid rgb(0, 0, 0);
	padding: 8px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.548);
}

.tabelaEventos th {
	background-color: #333;
}

.tabelaEventos td a {
	color: white;
	text-decoration: none;
}

.tabelaEventos td a:hover {
	text-decoration: underline;
	color: blue;
}

.border th,
.border td {
	border-color: white;
}

.border th {
	background-color: #333;
}
